.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.ttcont {
  min-width: 310px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 3px solid teal;
}
.companyName {
  font-size: 24px;
  margin: 0;
}
